<div class="govuk-inset-text datagovuk-inset-text">
  <p class="govuk-body datagovuk-body">
    {% if dataset %}
      Is this data/dataset useful?
    {% else %}
      Is this page useful?
    {% endif %}
    <a href="https://forms.office.com/e/9V26PNFQaR" class="govuk-link datagovuk-link">Give us feedback</a>
  </p>
</div>
